<!DOCTYPE html>

Welcome!

<br />
<br /><a href="signup">Sign-up</a> | <a href="login">Login</a> | <a data-on="click" data-event="app/destroy" data-pub='{"msg": "app destroyed by user"}'> Destroy </a>